node_modules
.env

#package
#npm i express mongoose cors helmet dotenv bcryptjs joi uuid nodemailer


#bcryptjs   (for password Ecrypt)
#joi ( for data validator)
#uuid ( for email verification code using UUID)
#nodemailer (a self-hosted email gateway that allows making REST requests against IMAP and SMTP servers. EmailEngine also sends webhooks whenever something changes on the registered accounts )

